# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

Debug/
Release/
build/

.sconsign.dblite
.*.swp
*~

JLParser*
JLLexer*
JL.tokens

*.out
